body {
    background-color: #192840;
}

.style-title {
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    opacity: 40%;
    display: none;
    font-size: 43px;
    font-weight: 100;
}

.grid-container2 {
    display: grid;
    height: 20%;
    grid-template-columns:  500px 0px 0px 0px  ;
    padding-top: 300px;
    justify-content: center;
    text-align:center;
}




ul {
    list-style-type: none;
    

}

li {
    display: inline;
    margin: 80px;
    

}

.grid-container1 {
    display: grid;
    height: 1%;
    padding-top: 10px;
    
}



.style-nav {
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    opacity: 60%;
    font-weight: 800;
    font-size: 16px;
    

}

#slide {
    padding: 15px;
    display: none;
    margin-left: 17%;
    text-align: center;
    position: fixed;
   
    
}


.colorchanged {
    background-color: black;
    transition: background-color 1s;
    
        -webkit-transition: background-color 1s;
       -moz-transition: background-color 2s;
        -ms-transition: background-color 2s;
         -o-transition: background-color 2s;
            transition: background-color 2s;
}


.opacity-title {
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    opacity: 0%;
    

    transition: opacity 1s;


    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
     -ms-transition: opacity 1s;
      -o-transition: opacity 1s;
         transition: opacity 1s;

}